flows.json
[{"id":"aa14204.f27c3e","type":"tab","label":"TJBot Camera","disabled":false,"info":""},{"id":"b8c01f09.8bb37","type":"debug","z":"aa14204.f27c3e","name":"Print msg.result.images","active":true,"tosidebar":true,"console":false,"complete":"result.images","statusVal":"","statusType":"auto","x":590,"y":260,"wires":[]},{"id":"ce52d36.e13123","type":"comment","z":"aa14204.f27c3e","name":"Reload picture into Node-RED Dashboard","info":"<script>\n    window.location.reload(false); \n</script>","x":1200,"y":40,"wires":[]},{"id":"a5c23424.28f5d8","type":"debug","z":"aa14204.f27c3e","name":"What did Watson find?","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"template","targetType":"msg","statusVal":"","statusType":"auto","x":900,"y":360,"wires":[]},{"id":"335b3735.c599f8","type":"ui_template","z":"aa14204.f27c3e","group":"2637150a.7d26da","name":"","order":5,"width":"9","height":"12","format":"<div ng-bind-html=\"msg.template\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":860,"y":280,"wires":[[]]},{"id":"6d921df6.a91924","type":"visual-recognition-v3","z":"aa14204.f27c3e","name":"","vr-service-endpoint":"https://api.us-south.visual-recognition.watson.cloud.ibm.com/instances/bf92b316-5e86-408b-9a4e-b600fee29361","image-feature":"classifyImage","lang":"en","x":330,"y":300,"wires":[["62828679.3484f8","b8c01f09.8bb37"]]},{"id":"62828679.3484f8","type":"function","z":"aa14204.f27c3e","name":"Process Results","func":"if (typeof msg.result == 'undefined') {\n    return null;\n}\n\n// Text Extraction\nif (typeof msg.result.images[0].text != 'undefined') {\n    var image_text = msg.result.images[0].text;\n    msg.payload = image_text;\n    msg.template = image_text;\n    if( image_text.length >0 ) {\n       msg.template= \"Watson found the words: \"+image_text;\n    }\n    return msg;\n}\n\nvar bestcolor = -1;\nvar colorscore = 0;\nvar c_id = 0;\nvar say = \"\";\nvar item;\n\nfor ( c_id=0; c_id < (msg.result.images[0].classifiers.length); c_id++ ){\n    // find the best color, if any\n    for( i =0; i<(msg.result.images[0].classifiers[c_id].classes.length); i++ ){\n      var object = msg.result.images[0].classifiers[c_id].classes[i].class;\n      if ( object.includes(\"color\") ) {\n        if( msg.result.images[0].classifiers[c_id].classes[i].score > colorscore){\n            bestcolor = i;\n            colorscore = msg.result.images[0].classifiers[c_id].classes[i].score;\n        }\n      }\n    }\n \n    var bestItem = 0;\n    var itemScore = 0;\n    for( i =0; i<(msg.result.images[0].classifiers[c_id].classes.length); i++ ){\n      var object = msg.result.images[0].classifiers[c_id].classes[i].class;\n      if ( !object.includes(\"color\") ) {\n        if( msg.result.images[0].classifiers[c_id].classes[i].score > itemScore){\n            bestItem = i;\n            itemScore =  msg.result.images[0].classifiers[c_id].classes[i].score;\n        }\n      }\n    }\n \n     if( bestcolor != \"-1\") {\n        // found a color\n        item = msg.result.images[0].classifiers[c_id].classes[bestcolor].class + \" \" + msg.result.images[0].classifiers[c_id].classes[bestItem].class;\n        bestcolor = -1;\n    } else {\n       item = msg.result.images[0].classifiers[c_id].classes[bestItem].class;\n    }\n//    say = say + \" Watson's \" + msg.result.images[0].classifiers[c_id].name + \" classifier thinks this picture contains a \" + item +\".\";\n    say = say + \" Watson thinks this picture contains a \" + item +\".\";\n}\nmsg.payload =  say;\n\nvar picInfo = msg.result.images[0].classifiers[0].classes;\nvar arrayLength = picInfo.length;\n\nmsg.template=\"<style>h4 { text-align: center; margin: 10px; }\";\nmsg.template=msg.template+\"table {    width: 440px;    margin-top: 10px; }\";\nmsg.template=msg.template+\"th, td { padding: 8px; text-align: left; border-bottom: 1px solid #ddd; background-color: #FFFFFF; width: 50%;}\";\nmsg.template=msg.template+\".classifier {background-color: rgb(85,150,230);text-align: center;}\";\nmsg.template=msg.template+\".title { background-color:LightGrey;}</style>\";\n\nmsg.template=msg.template+\"<h2>\"+say+\"</h2><table span=100%><tr><th>Class</th><th>Confidence</th></tr>\";\nfor (var i = 0; i < arrayLength; i++) {\n  msg.template = msg.template + \"<tr><td>\" + picInfo[i].class + \"</td><td>\" + picInfo[i].score + \"</td></tr>\";\n}\nmsg.template = msg.template + \"</table>\"\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":340,"wires":[["335b3735.c599f8","a5c23424.28f5d8","ffbd7138.638a6","fba47e02.208bc"]]},{"id":"98289d2e.d7d9c","type":"comment","z":"aa14204.f27c3e","name":"Take Photos from a Raspberry Pi Camera","info":"If you add a Raspberry Pi Camera to your TJBot,\nhe can \"see\" and take Photos through his \n\"eye\" cutout.\n\nThis Node-RED flow requires the\nnode-red-contrib-camerapi npm package.\n\nDon't forget to enable the Camera in the \nRaspberry Pi Configuration utility.","x":200,"y":38,"wires":[]},{"id":"fba47e02.208bc","type":"watson-text-to-speech","z":"aa14204.f27c3e","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_AllisonVoice","voicehidden":"en-US_AllisonVoice","format":"audio/wav","password":"Mahesh18","apikey":"EGeT_Bs96j3xZpSQfn5HeQe-WFBvVviGEnEXgyBqTOy9","payload-response":true,"service-endpoint":"https://api.eu-gb.text-to-speech.watson.cloud.ibm.com/instances/f17de8c5-fc70-4b6f-b715-2619bc233deb","x":880,"y":480,"wires":[["8415ec9d.561ec"]]},{"id":"ffbd7138.638a6","type":"debug","z":"aa14204.f27c3e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":420,"wires":[]},{"id":"54671aa1.a7c834","type":"ui_template","z":"aa14204.f27c3e","group":"12b04aca.de3335","name":"","order":1,"width":"9","height":"8","format":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <title>Visual Recognition</title>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n   <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css\">\n  <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js\"></script>\n  <script src=\"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js\"></script>\n  <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js\"></script>\n  <style>\n  .bg-light {\n     \n    background-color: #A42156!important;\n\t}\n\tdashboard-template h4 {\n    color: #111111 !important;\n    background-color: #A42156 !important;\n    }\n\t\n\t.custom-file {\n\t\tmargin-bottom: 14px;\n\t\t}\n\t\t\n\t.table .thead-dark th {\n\t\tcolor: #fff;\n\t\tbackground-color: #A42156;\n\t\tborder-color: #A42156;\n\t}\n\th5{\n\t    text-align: center;\n\t\t    color: #EB9E30;\n\t\t}\n\t\t.text-center {\n\t\t  text-align: center;\n\t\t}\n\t.imgdiv\n\t{\n\t\talign:center;\n\t}\n\t</style>\n</head>\n<body>\n\t<nav class=\"navbar navbar-expand-sm bg-light\">\n\t\t<div class=\"justify-content-center\">\n\t\t\t<h4 class=\"text-center\">Caption Generator Board </h4>\n\t\t</div>\n\t</nav>\n\t<br><br>\n    <div class=\"container\">\n\t\t<div class=\"row\">\n\t\t\t<div class=\"col-sm-2\">\n\t\t\t</div>\n\t\t\t<div class=\"col-sm-8\">\n\t\t\t\t\n\t\t\t\t\t<div class=\"custom-file\">\n\t\t\t\t\t\n\t\t\t\t\t\t<input type=\"file\" name=\"pic\" accept=\"image/*\" onchange=\"readURL(this);\" class=\"custom-file-input\" id=\"customFile\">\n\t\t\t\t\t\t\n\t\t\t\t\t\t<label class=\"custom-file-label\" for=\"customFile\">Choose file</label>\n\t\t\t\t\t</div>\n\t\t\t\t\t<br>\n\t\t\t\t\t<div class=\"imgdiv\">\n\t\t\t\t\t\t<img src=\"#\" id=\"blah\" class=\"rounded\" alt=\"Selected Image\">\n\t\t\t\t\t</div>\n\t\t\t\t\t<!--<md-button ng-click=\"send({payload:action()})\">\n\t\t\t\t\t\tPredict\n\t\t\t\t\t</md-button>-->\n\t\t\t\t\t<button type=\"submit\" ng-click=\"send({payload:action()})\" class=\"btn btn-success\">Submit</button>\n\t\t\t\t\n\t\t\t\t\n\t\t\t</div>\n\t\t\n</body>\n</html>\n<script>\nvar x=\"\";\n    function readURL(input) {\n        if (input.files && input.files[0]) {\n            var reader = new FileReader();\n\n            reader.onload = function (e) {\n                $('#blah')\n                    .attr('src', e.target.result)\n                    .width(150)\n                    .height(200);\n            };\n\n            reader.readAsDataURL(input.files[0]);\n            x= input.files[0]\n\n            \n            \n\n        }\n    }\n    function getdata(data)\n\t{\n\t\t var html = '';\n            if(data != 0)\n\t\t\t{\n\t\t\t\t$.each(data, function(i){\n\t\t\t\tvar row = data[i];\n\t\t\t\tconsole.log(row);\n\t\t\t\thtml += '<tr>';\n\t\t\t\thtml += '<td>';\n\t\t\t\thtml +=  row.class;\n\t\t\t\thtml += '</td>';\n\t\t\t\thtml += '<td>';\n\t\t\t\thtml +=  row.score;\n\t\t\t\thtml += '</td>';\n\t\t\t\thtml += '</tr>';\n\t\t\t});\n\t\t\t}\n\t\t\telse\n\t\t\t\thtml+=\"<div>No Data</div>\";\n\t\t\t$('#scoretable').html(html);\n\t}\n    (function(scope) {\n        scope.$watch('msg.payload', function(data) {\n            console.log('Position 2');\n            console.dir(data);\n            getdata(data);\n\n        });\n    })(scope);\n    \n    \n// or overwrite value in your callback function ...\nthis.scope.action = function() { return x; }\n\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":160,"y":300,"wires":[["6d921df6.a91924"]]},{"id":"8415ec9d.561ec","type":"play audio","z":"aa14204.f27c3e","name":"","voice":"0","x":890,"y":560,"wires":[]},{"id":"2637150a.7d26da","type":"ui_group","z":"","name":"Results","tab":"2ed27235.7b9cee","order":2,"disp":true,"width":"9"},{"id":"12b04aca.de3335","type":"ui_group","z":"","name":"Watson Visual Recognition","tab":"2ed27235.7b9cee","order":1,"disp":true,"width":"12","collapse":false},{"id":"2ed27235.7b9cee","type":"ui_tab","z":"","name":"IBM","icon":"dashboard","order":3,"disabled":false,"hidden":false}]